.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.path {
    background-color: blue;
}
